<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Assestment</title>
			<!-- Bootstrap -->
			<link href="/assets/css/bootstrap.css" rel="stylesheet">
			<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	</head>
	<body>
		<div id="modal" class="modal hide fade">  
			<div class="modal-header">  
				<a href="<%=back%>" class="close">×</a> 
				<h3>Assestment</h3>
				<p class="muted">Case: <%=title%> </p>   
			</div>  
			<div class="modal-body">  
				<% for(var i=0; i<assestments.length; i++) { %>
					<div class="row-fluid">
						<label class="radio assestRadio">
						  <input type="radio" name="optionsRadios" id="optionsRadios<%=i+1%>" value="option<%=i+1%>">
						  <p><strong><%=assestments[i].assestTitle%></strong></p>
						  <% if (assestments[i].isCorrect) { %>
						  	<p class="assestInfo text-success"><%=assestments[i].assestText%></p>
						  <%} else { %>
						  	<p class="assestInfo text-error"><%=assestments[i].assestText%></p>
						  	<%}%> 
						</label>		
					</div>
				<% } %>
			</div>
			<div class="modal-footer">  
				<button class="btn btn-success" id="submitButton" type="button" onclick="submit()" disabled>Submit</button>
				<button onclick="location.href='<%=id%>/plan'" id="nextButton" class="btn btn-success">Next</button>
			</div>  
		</div>


   
	    <script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>

	   	<script type="text/javascript">
	    	$(window).load(function(){
	    		$('#modal').modal({
  					keyboard: false,
  					backdrop: 'static'
				});
	        	$('#modal').modal('show');
	    	});

	    	$('.assestInfo').hide();
	    	$('#nextButton').hide();

			$('.assestRadio').click(function() {
				$('#submitButton').removeAttr('disabled');
			});

			function submit () {
				$('#submitButton').hide();
  				$('.assestInfo').show();
  				$('#nextButton').show();
  				$("input:radio").attr('disabled',true);
			}

		</script>
	</body>
</html>