<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
			
		<title>Main Cases</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

		<style type="text/css">
			img.no-resize {
				height: 80px;
				width: 80px
			}
		</style>
	</head>

	<body>

		<!-- Navbar -->
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="brand">Welcome, <%= name %></a>
		      <div class="navbar-content">
		        <ul class="nav  pull-right">
		          <li>
		            <a href="/logout">Log out</a> 
		          </li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>

		<div class ="container" style="padding-top:50px">

			<h2 class="text-center" style="color:#024731"><img src="/images/soap/AP_icon.png"  height="80" width="80">&#160;Advanced Practice</h2>

   			<ul class="breadcrumb text-center" style="background-color:#024731">
			  <img src="/images/soap/AP_adults.png"><li> <button class="btn btn-link" type="button" onclick="location.href='/adults'" id="adults" style="color:white">Adults</button> <span class="divider">|</span></li>
			  <li><img src="/images/soap/AP_ger.png"> <button class="btn btn-link" type="button" onclick="location.href='/geriatrics'" id="geriatrics" style="color:white">Geriatrics</button> <span class="divider">|</span></li>
			  <li><img src="/images/soap/AP_ped.png"> <button class="btn btn-link" type="button" onclick="location.href='/pediatrics'" id="pediatrics" style="color:white">Pediatrics</button> <span class="divider">|</span></li>
			  <li><img src="/images/soap/AP_women.png"> <button class="btn btn-link" type="button" onclick="location.href='/women'" id="women" style="color:white">Women</button></li>
			</ul>
		</div>


		<div class="container">
			<% for(var i=0; i<cases.length; i++) { %>
	  			<div class="row">
		  			<div class="span1">
              			<img src="/images/soap/<%=cases[i].rootCase%>_Case.png" class="img-rounded no-resize">
              		</div>
           			<div class="span7" style="padding-top:20px">
       					<h5> <a href="/<%=id%>/<%=cases[i].id%>/subobj" style="color:black"><strong><%=cases[i].testcase %></strong> </a></h5>
       				</div>
          		</div>
              	<hr size="3" noshade>
			<% } %>
		</div>


		<!--Javascript-->
        <script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>

		<script>
			$('#<%=id%>').attr('disabled', true);
		</script>

	</body>
</html>