<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
			
		<title>Main Cases</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Bootstrap -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/css/home.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=News+Cycle|Istok+Web:400,700' rel='stylesheet' type='text/css'>

		<style type="text/css">
			img.no-resize {
				height: 80px;
				width: 80px
			}
			.thumbnail {
				height: 120px;
			}
		</style>
	</head>

	<body >

		<% include navbar.ejs %>

		<div class ="container" style="padding-top:50px">

			<h2 class="text-center" style="color:#024731"><img src="/images/soap/AP_icon.png"  height="80" width="80">&#160;Advanced Practice</h2>

   			<ul class="breadcrumb text-center" style="background-color:#024731">
			  <img src="/images/soap/AP_adults.png"><li> <button class="btn btn-link" type="button" onclick="location.href='/adults'" id="adults" style="color:white">Adults</button></li>
			  <li><img src="/images/soap/AP_ger.png"> <button class="btn btn-link" type="button" onclick="location.href='/geriatrics'" id="geriatrics" style="color:white">Geriatrics</button></li>
			  <li><img src="/images/soap/AP_ped.png"> <button class="btn btn-link" type="button" onclick="location.href='/pediatrics'" id="pediatrics" style="color:white">Pediatrics</button></li>
			  <li><img src="/images/soap/AP_women.png"> <button class="btn btn-link" type="button" onclick="location.href='/women'" id="women" style="color:white">Women</button></li>
			</ul>
		</div>


		<div class="container">
	  			<div class="row cases">
			<% 
				for(var i=0; i<cases.length; i++) { 

						if (cases[i].done) { %>

		  					<div class="col-sm-6 col-md-4">
			  					<div class="thumbnail alert-success">
			  						<div class="caption">
			  							<h4> <a href="/<%=id%>/<%=cases[i].id%>/subobj" style="color:black; font-family:'Istok Web', sans-serif; font-weight: 700"><%=cases[i].testcase %></a></h4>
			  							<small style="color:black; font-family:'News Cycle', sans-serif; font-weight: 400"><em>By <%=cases[i].author %> </em></small>
			  						</div>
			  					</div>
              				</div>	
					<% }
						else { %>
							<div class="col-sm-6 col-md-4">	
              					<div class="thumbnail">
			  						<div class="caption">
			  							<h4> <a href="/<%=id%>/<%=cases[i].id%>/subobj" style="color:black; font-family:'Istok Web', sans-serif; font-weight: 700"><%=cases[i].testcase %></a></h4>
			  							<small style="color:black; font-family:'News Cycle', sans-serif; font-weight: 400"><em>By <%=cases[i].author %> </em></small>
			  						</div>
			  					</div>
              				</div>	
					<%	} 
					
				} %>
			</div>
		</div>


		<!--Javascript-->
        <script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>

		<script>
			$('#<%=id%>').attr('disabled', true);
		</script>

	</body>
</html>