<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Plan</title>
			<!-- Bootstrap -->
			<link href="/assets/css/bootstrap.css" rel="stylesheet">
			<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
			<!-- Extended Bootstrap modal providing more functionality. Thanks to "jschr" -->
			<!-- Github: https://github.com/jschr/bootstrap-modal -->
			<link href="/assets/css/bootstrap-modal.css" rel="stylesheet">

			<style type="text/css">
			a {
				color: black;
				font-weight:bold;
			}
			</style>
	</head>

	<body style="background-color:#024731">
		
		<div id="modal" class="modal fade">  
			<div class="modal-dialog">
      			<div class="modal-content">

					<div class="modal-header">  
						<a href="<%=back%>" class="close">×</a> 
						<h3>Plan</h3>
						<p class="text-muted">Case: <%=title%> </p>   
					</div>  

					<div class="modal-body">  
						   
						<% for(var i=0; i<plans.length; i++) { %>
							<div class="panel-group" id="accordion<%=i%>">
			                    <div class="panel panel-default">
			                        <div class="panel-heading">
			                        	<h4 class="panel-title">
				                            <a id="collapse<%=plans[i].planTitle%>" data-toggle="collapse" data-parent="#accordion<%=i%>" href="#<%=plans[i].planTitle%>">
				                                <%=plans[i].planTitle%>
				                            </a>
			                            </h4>
			                        </div>
			                        <div id="<%=plans[i].planTitle%>" class="panel-collapse collapse">
			                            <div class="panel-body">
			                            	<% for(var j=0; j<plans[i].options.length; j++) { %>
				                                <label class="radio <%=plans[i].planTitle%>Radio">
												  <input type="radio" name="<%=plans[i].planTitle%>options" id="<%=plans[i].planTitle%>Radios<%=i+1%>" value="<%=plans[i].planTitle%><%=i+1%>">
												  <p><strong><%=plans[i].options[j].text%></strong></p>
												  <% if (plans[i].options[j].isCorrect) { %>
												  	<p class="planInfo text-success"><%=plans[i].options[j].feedback%></p>
												  <%} else { %>
												  	<p class="planInfo text-danger"><%=plans[i].options[j].feedback%></p>
												  <%}%> 
												</label>
											<% }%>		
			                            </div>
			                        </div>
			                    </div>
		                    </div>
		                </br>
	                    <% }%>
	            	</div>

					<div class="modal-footer">  
						<button class="btn btn-success" id="submitButton" type="button" onclick="submit()" disabled>Submit</button>
						<button onclick="location.href='<%=id%>/discussion'" id="nextButton" class="btn btn-success">Next</button>
					</div>
			</div>  
		</div>  
		</div>


   
	    <script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>
		<!-- Extended Bootstrap modal providing more functionality. Thanks to "jschr" -->
		<!-- Github: https://github.com/jschr/bootstrap-modal -->
		<script src="/assets/js/bootstrap-modalmanager.js"></script>
		<script src="/assets/js/bootstrap-modal.js"></script>

	   	<script type="text/javascript">

	   		$(window).load(function(){
	    		$('#modal').modal({
  					keyboard: false,
  					backdrop: 'static'
				});
	        	$('#modal').modal('show');
	    	});

	    	$('.planInfo').hide();
	    	$('#nextButton').hide();

	   		//Check each click for each radio set to determine if all radio sets were clicked
	   		var rx = false;
	   		var dx = false;
	   		var ed = false;
	   		var follow = false;

			$('.RXRadio').click(function() {
				rx = true;
				check();
			});

			$('.EDRadio').click(function() {
				ed = true;
				check();
			});

			$('.DXRadio').click(function() {
				dx = true;
				check();
			});

			$('.Follow-upRadio').click(function() {
				follow = true;
				check();
			});

			function check () {
				if(dx && rx && ed  && follow) {
					$('#submitButton').removeAttr('disabled');
				}
			}
			//////////////////////////////////////////////////////////////////////////////////
			
			function submit () {
				$('#submitButton').hide();
  				$('.planInfo').show();
  				$('#nextButton').show();
  				$('#RX').collapse('show');
  				$('#DX').collapse('show');
  				$('#ED').collapse('show');
  				$('#Follow-up').collapse('show');
  				$("input:radio").attr('disabled',true);
			}

		</script>
	</body>
</html>