<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Subjective and Objective</title>

			<!-- Bootstrap -->
		<link href="/assets/css/bootstrap.css" rel="stylesheet">
		<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- Extended Bootstrap modal providing more functionality. Thanks to "jschr" -->
		<!-- Github: https://github.com/jschr/bootstrap-modal -->
		<link href="/assets/css/bootstrap-modal.css" rel="stylesheet">


		<style type="text/css">
			a {
				color: black;
				font-weight:bold;
			}

			
		</style>
	</head>
	<body style="background-color:#024731">

		<div id="modal" class="modal fade">  
			<div class="modal-dialog">
      			<div class="modal-content">

					<div class="modal-header">  
						<a href="<%=back%>" class="close">×</a>  
						<h3>Subjective & Objective</h3>
						<p class="text-muted">Case: <%=title%></p>  
					</div>  

					<div class="modal-body">  
						<div class="panel-group" id="accordion">    
		                    <div class="panel panel-default">
		                        <div class="panel-heading">
		                        	<h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#Subjective">
			                                Subjective
			                            </a>
		                        	</h4>
		                        </div>
		                        <div id="Subjective" class="panel-collapse collapse in">
		                            <div class="panel-body">
		                                <p><%=subjective%></p>
		                            </div>
		                        </div>
		                    </div>
		                </div> <!-- /accordion -->

		                </br>

					 	<div class="panel panel-default">
		                    <div class="panel-heading">
		                    	<h4 class="panel-title">
			                        <a data-toggle="collapse" data-parent="#accordion" href="#Objective">
			                            Objective
			                        </a>
			                    </h4>
		                    </div>
		                    <div id="Objective" class="panel-collapse collapse">
		                        <div class="panel-body">
		                            <p><%=objective%></p>
		                        </div>
		                    </div>
		                </div>   
					</div>

					<div class="modal-footer">  
						<button onclick="location.href='<%=id%>/assestment'" class="btn btn-success">Next</button>
					</div>  
				</div>  
			</div>
		</div>


   
	    <script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>
		<!-- Extended Bootstrap modal providing more functionality. Thanks to "jschr" -->
		<!-- Github: https://github.com/jschr/bootstrap-modal -->
		<script src="/assets/js/bootstrap-modalmanager.js"></script>
		<script src="/assets/js/bootstrap-modal.js"></script>

	   	<script type="text/javascript">
	    	$(window).load(function(){
	    		$('#modal').modal({
  					keyboard: false,
  					backdrop: 'static'
				});
	        	$('#modal').modal('show');
	    	});
		</script>
	</body>
</html>